# Build directories
/dist
/build
/build-lib
/out

# netbeans cruft
/nbbuild.xml
/manifest.mf
/nbproject

# intellij cruft
/.idea
/MultiTypeTree.iml

# Ignore BEAST logfiles
*.log
*.trees
*.state

# Ignore emacs backup files:
*~
