# Build directories
/dist
/build
/build-lib
/out

# netbeans cruft
/nbbuild.xml
/manifest.mf
/nbproject

# intellij cruft
/.idea
/MultiTypeTree.iml
/META-INF

# Ignore BEAST logfiles
*.log
*.trees
*.state

# Other cruft:
.localrc
.localrcbye
/examples/h3n2
